.Posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}

.Post-button-container {
    text-align: right;
}

.Post-button {
    width: 100px;
    font-size: 20px;
}

.Post-button:hover {
    background-color: #b8c8df;
}
.Post-form {
    margin-bottom: 30px;
    width: 550px;
    border: .25px gray solid;
    padding: 15px;
}

.Post-header {
    margin-top: 0px;
    margin-left: -15px;
    width: 550px;
    background-color: #b8c8df;
    border: 1px solid #b8c8df;
}

.Post-tools {
    display: flex;
    justify-content: space-evenly;
}

.Post-input {
    height: 50px;
    font-size: 20px;
}

.Post-input, .Comment-input {
    border-radius: 12px;
    border: 1px gray solid;
    margin-bottom: 10px;
    outline: none;
    width: 520px;
}

.Post-container {
    border: .25px gray solid;
    width: 550px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 30px;
}

.Post-text {
    text-align: left;
    margin-left: -14px;
    padding-left: 5px;
    margin-right: -14px;
    margin-top: -10px;
    border-bottom: .25px gray solid;
    display: flex;
    align-items: center;
}

.Post-delete {
    background-color: #b8c8df;
    border: 2px #b8c8df solid;
    border-radius:4px;
    justify-self: flex-end;
}

.Post-tags {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

.Post-tag-button {
    font-size: 15px;
    background-color: #b8c8df;
    border-radius: 8px;
    margin: 3px;
    padding: 5px;
    outline: none;
}

.Post-toolbar {
    display: flex;
    justify-items: space-between;
    align-items: baseline;
    margin: -3px;
    margin-left: -15px;
    margin-bottom: 10px;
    padding: 0px;
    border-bottom: 1px gray solid;
    width: 550px;
}

.all-comments-container {
    margin-bottom: 15px;
    padding-top: 5px;
    margin-left: -5px;
}

.Comment-container {
    display: flex;
    align-items: center;
}

.Comment-text {
    border: 1px gray solid;
    background-color: #F2F3F5;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin:3px;
    font-size: 12px;
}

.Comment-icon {
    display: flex;
    align-items: baseline;
    border: 1px gray solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.Comment-input {
    height: 25px;
}

.Comment-form {
    vertical-align: middle;
}

@media only screen and (max-width: 820px) {
    .Posts{
        width: 100vw;
    }
}

@media screen and (max-width: 600px) {
    .Post-form {
        width: 370px;
    }
    
    .Post-input,  .Post-header {
        width: 300px;
        font-size: 20px;
    }

    .Post-button {
        width: 70px;
        font-size: 15px;
    }

    .Post-tags {
        width: 350px;
    }

    .Comment-input {
        width: 275px;
    }

    .Post-container {
        width: 370px;
    }

    .Post-tag-button {
        font-size: 12px;
    }

    .Post-toolbar {
        width: 370px;
    }
}

@media screen and (max-width: 425px) {
    .Post-form {
        width: 300px;
    }
    
    .Post-input,  .Post-header {
        width: 270px;
        font-size: 15px;
    }

    .Post-input {
        height: 30px;
    }

    .Post-button {
        width: 70px;
        font-size: 15px;
    }

    .Comment-input {
        width: 275px;
    }

    .Post-container {
        width: 300px;
    }

    .Post-tags {
        width: 250px;
    }

    .Post-tag-button {
        font-size: 12px;
    }

    .Post-toolbar {
        width: 300px;
    }
}

