.About {
    text-align: center;
    margin-top: 50px;
}

.About-bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About-us {
    width: 50%;
}

.About-Details {
    font-size: 15px;
}

.Def {
    font-family: 'PT Mono', monospace;
}

.Def-Heading, .Def-Sub-Heading {
    padding: 0px;
    margin: 5px;
}

.Def-Sub-Heading {
    font-style: italic;
}

.DefTerm {
    text-decoration: line-through;
}