.About {
    text-align: center;
    margin-top: 50px;
}

.About-Heading {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0px;
    border-bottom: 2px black dotted;
}

.About-Details {
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}

.Def {
    font-family: 'PT Mono', monospace;
}

.Def-Heading, .Def-Sub-Heading {
    padding: 0px;
    margin: 5px;
}

.Def-Sub-Heading {
    font-style: italic;
}

.DefTerm {
    text-decoration: line-through;
}