.Profile-SideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px lightgray solid;
    margin-left: 20px;
    padding: 0px 10px;
    width: 30vw;
}

.Profile-name-bio {
    text-align: center;
}

.Profile-triggerwords-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

.Profile-triggerwords {
    font-size: 15px;
    background-color: #b8c8df;
    border-radius: 8px;
    margin: 3px;
    padding: 5px;
    outline: none;
    text-align: center;
}

.Profile-wrapper {
    text-align: center;
    margin: 20px 0px;
}

@media only screen and (max-width: 820px) {
    .Profile {
        flex-direction: column;
    }

    .Profile-SideBar {
        border-right: none;
        margin-left: 0px;
        padding: 0px 10px;
        width: 100vw;
    }
}
 