.Newsfeed-SideBar {
    display: flex;
    flex-direction: column;
    border-right: 1px lightgray solid;
    margin-left: 20px;
    padding: 0px 10px;
    width: 30vw;
}

.Search {
    text-align: center
}

.Search-trigger-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

.Search-triggerwords, .Search-restart {
    font-size: 15px;
    background-color: #b8c8df;
    border-radius: 8px;
    margin: 3px;
    padding: 5px;
    outline: none;
    text-align: center;
}

.Search-restart {
    background-color: white;
    width: 150px;
}

.Search-triggerwords:hover, .Search-restart:hover {
    background-color: gray;
}

@media only screen and (max-width: 820px) {
    .Newsfeed {
        flex-direction: column;
    }

    .Newsfeed-SideBar {
        margin-left: 0px;
        padding: 0px 10px;
        border-right: none;
        width: 100vw;
    }
}
 