.NavBarVisitor, .NavBarUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8c8df;
    padding: 10px;
    font-size: 15px;
}

.NavBarVisitor {
    justify-content: flex-end;
}

.NavWelcome {
    font-size: 15px;
}

.NavLink, .NavLogout, .NavWelcome {
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
}

.NavLogout {
    color: #5a6c87;
}
.NavLink:hover, .NavLogout:hover, .NavWelcome:hover, .NavLink:visited, .NavLogut:visited, .NavWelcome:visited, .NavLink:active, .NavLogout:active, .NavWelcome:active {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 500px) {
  .NavTools {
      display: flex;
      flex-direction: column;
  }
}