.Resources {
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
}

.Resource-details {
    text-align: center;
    padding: 0px;
    margin-bottom: 25px;
}

.Resource-heading {
    letter-spacing: 2px;
    margin-bottom: 20px;
}